@charset "UTF-8";
/*base*/
body {
  color: #ddd;
}

/*normalize*/
* {
  margin: 0;
  padding: 0;
}

/*index*/
body {
  font-size: 16px;
}

/*variables*/
/*list*/
li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: red;
}

/*エクステンド*/
.notes, .item small {
  color: #d92c25;
  font-weight: bold;
  text-align: center;
}

.bd, .item small {
  border-top: 1px solid #900;
  border-bottom: 1px solid #900;
}

.item small {
  display: block;
  padding: 10px;
}

/*連鎖*/
.att, .attBox, .notes01 {
  color: red;
  font-weight: normal;
}

.attBox, .notes01 {
  padding: 15px;
  border: 1px solid red;
}

/*エクステンド専用のプレースホルダーセレクタ*/
section, .item01 {
  padding: 15px;
  border: 1px solid #999;
}

.item01 {
  margin-bottom: 20px;
}

section {
  margin-bottom: 60px;
}

/*@mediaとエクステンド*/
@media all and (orientation: landscape) {
  a {
    display: inline-block;
    padding: 5px 10px;
    background: #eee;
  }
}
.btn {
  /*存在しないセレクタのエラー警告回避*/
}

/*ミックスイン*/
.relatedArea {
  padding: 15px;
  background: #999;
  color: white;
}

.pickupArea {
  padding: 15px;
  background: #999;
  color: white;
}

.boxA {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #eee;
}

.boxB {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #f1f1f1;
}

/*ミックスイン引数複数指定*/
.boxA {
  margin: 30px 0;
  padding: 10px;
  background: #eee;
}

.boxB {
  margin: 0 0 50px;
  padding: 20px;
  background: #f1f1f1;
}

/*第1引数のみ変更*/
.boxB {
  margin: 0 0 50px;
  padding: 10px;
  background: #f1f1f1;
}

/*第2引数のみ変更*/
.boxB {
  margin: 30px 0;
  padding: 20px;
  background: #f1f1f1;
}

/*@use "sass:string";*/
/*配列にするパターン*/
h2 {
  text-shadow: 8px 8px 0 #999, 15px -10px 0 #eee;
}

/*文字列にするパターン*/
h2 {
  text-shadow: 8px 8px 0 #999, 15px -10px 0 #eee;
}

/*可変長引数(Variable Arguments)*/
h2 {
  text-shadow: 8px 8px 0 #999, 15px -10px 0 #eee;
}

.item {
  display: flex;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}

/*@content*/
.item .image {
  float: left;
}
@media only screen and (max-width: 768px) {
  .item .image {
    float: none;
  }
}
.item .text {
  overflow: hidden;
  margin-left: 15px;
}
@media only screen and (max-width: 768px) {
  .item .text {
    margin-left: 0;
  }
}

/*@at-root*/
/*.block {
    .element-A {
        width: 80%;
    }

    @at-root .element-B {
        width: 100%;
    }
}*/
.block .element-A {
  width: 80%;
}
.element-B {
  width: 100%;
}

.element-C {
  width: 50%;
}

/*メディア@at-root*/
.block {
  width: 50%;
}
@media (max-width: 640px) {
  .block {
    width: 100%;
  }
  .item {
    margin-bottom: 30px;
  }
}

/*@at-rootオプション without*/
.block {
  width: 50%;
}
@media (max-width: 640px) {
  .block {
    width: 100%;
  }
}
.block .item {
  margin-bottom: 30px;
}

/*@at-rootオプション rule*/
.block {
  width: 50%;
}
@media (max-width: 640px) {
  .block {
    width: 100%;
  }
}
.item {
  margin-bottom: 30px;
}

/*@at-rootオプション with*/
.block {
  width: 50%;
}
@media (max-width: 640px) {
  .block {
    width: 100%;
  }
  .item {
    margin-bottom: 30px;
  }
}

/*インターポレーション*/
#main {
  background: url(../common/images/main.png);
}

p.sampleB {
  font: 12px/30px;
}

.mt0 {
  margin-top: 0px;
}

.mt5 {
  margin-top: 5px;
}

p {
  margin-bottom: 0;
}

.CSS a::after {
  content: "CSS Tips";
}

/*@if条件分岐*/
.text-accent {
  color: red;
}

.text-link {
  color: blue;
}

.box {
  margin: 0 10px 15px;
  padding: 20px 15px;
  border: 2px solid #333;
}

/*# sourceMappingURL=style.css.map */
