#main {
    display: flex;
    width: 640px;
    @media (width < 640px) {
        display: block;
        width: auto;
    }
}
.example {
    color: red;
    a {
        font-weight: bold;
    }
    & {
        font-weight: normal;
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

ul.pageNav {
    li {
        margin: 0;
        width: 50%;
        &.prev {
            display: flex;
        }
        &.next {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}

.block {
    width: 500px;
    & &__element {
        margin-bottom: 2em;
        &--modifier {
            background-color: #f00;
        }
    }
}