 @use "sass:math";
#main {
    display: flex;
    width: 640px;
    @media (width < 640px) {
        display: block;
        width: auto;
    }
}
.example {
    color: red;
    a {
        font-weight: bold;
    }
    & {
        font-weight: normal;
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

ul.pageNav {
    li {
        margin: 0;
        width: 50%;
        &.prev {
            display: flex;
        }
        &.next {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}

.block {
    width: 500px;
    & &__element {
        margin-bottom: 2em;
        &--modifier {
            background-color: #f00;
        }
    }
}

.sample {
    border: {
        top: 5px solid #ccc;
        bottom: {
            width: 3px;
            style: dotted;
            color:  black;
        }
    }
}

.item {
    margin: 0 {
        left: 10px;
    }
    border: 1px solid #999 {
        bottom: 0;
    }
}

section {
    $value: 30px;
    margin-top: $value;
    margin-bottom: $value;
}

.item {
    $value: 15px;
    padding: $value;
    p {
        margin-bottom: $value;
    }
}

$IMG_BOX: '.pickupContentsArea, section.main';
$IMG_PATH: '../img/bg/';

#{$IMG_BOX} {
    background: url(#{$IMG_PATH}pickup.png);
}

$main_width: 560px;
 article {
    $padding: 7px;
    width: $main_width - $padding * 2;
    padding: 0 $padding;
 }

 p::after {
    content: "今日は、" + 寒いです。;
    font-family: sans- + "serif";
 }


/* @use "sass:math";  先頭に記述*/
 .example01 {
    $value: 50px;
    width: math.div($value, 2);
 }
 .example02 {
    width: math.div(50px, 2);
 }
 .example03 {
    width: 50px - math.div(50, 2);
 }
